// *********** FOOTER ***********/

/* Boxlinks */
.footer-link {
    background-image: url(../../public/img/footer-bg.jpg);
}

.footer-link .container {
    position: relative;
    overflow: hidden;
}

.dc-image-bg {
    background-image: url(../../public/img/dc-logo-bg.png);
    width: 550px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: -100px;
}

.box-link {
    color: white;
    padding: 20px 0;
    width: 45%;
    text-align: left;
    font-family: "Open Sans";
}

.link-col {
    width: 33%;
}

.box-link h5 {
    font-size: 15px;
}

.box-link ul {
    font-size: 13px;
    padding: 0;
}

.box-link a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease, text-shadow 0.5s ease, 0.5s;
}

/* boxlink hover effect */
.box-link a:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px red;
    transform: scale(1.2) rotate(-5deg);
}


/* social & subscription */
.footer-social {
    background-color: #303030;
    font-family: "Open Sans";
}

footer .row {
    height: 80px;
}

footer .col {
    display: flex;
    align-items: center;
}

.footer-nav {
    height: 300px;
    text-align: left;
}

.footer-nav h3 {
    font-size: 15px;
    color: white;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
}

.footer-nav a {
    margin: 0;
    padding: 0;
    color: rgba(198, 198, 198, 0.833);
}

.btn-sign {
    background: none;
    color: white;
    border-color: #0282f9;
    height: 40px;
    padding: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}


.col-chl {
    display: flex;
    justify-content: end;
}

.col-chl p {
    margin: auto 0;
    color: #0282f9;
}

.channel {
    display: flex;
    margin: auto 0;

}

.single-channel {
    padding-left: 10px;
    margin-left: 10px;
    width: 50px;
}

.single-channel img {
    width: 100%;
}